---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
---

<BaseLayout title="Sobre Mim">
  <section class="flex flex-col justify-center items-center h-full space-y-6 bg-background dark:bg-dk-primary p-8 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-primary dark:text-dk-secondary mb-4">Sobre Mim</h1>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Sou Adriano Teixeira Benevenuto Sampaio, um aspirante a Desenvolvedor de Software com foco em back-end e um profundo entusiasmo por tecnologia. Minha paixão pela área começou aos 15 anos, influenciada por conversas com amigos da área, mas foi aos 20 anos, no início de 2024, que decidi mergulhar de cabeça nesse universo. Desde então, venho me dedicando ao aprendizado e ao desenvolvimento de habilidades técnicas e interpessoais, sempre buscando aprimorar meu conhecimento e superar desafios.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Atualmente, estou cursando <strong>Análise e Desenvolvimento de Sistemas</strong> na Estácio e concluí o programa <strong>Estartando Devs</strong>, uma experiência transformadora. Durante o curso, tive a oportunidade de trabalhar com conceitos avançados como <strong>DDD</strong>, <strong>CQRS</strong>, <strong>Clean Code</strong> e outros princípios essenciais, além de desenvolver meu lado comunicativo por meio de treinamentos em <strong>soft skills</strong>.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Minha experiência mais marcante até agora foi a participação no desenvolvimento do <strong>Kognito</strong>, um aplicativo inclusivo voltado para neurodivergentes. Nesse projeto, trabalhei no back-end utilizando <strong>C# e .NET</strong>, aplicando boas práticas de desenvolvimento e aprendendo não apenas sobre tecnologia, mas também sobre empatia e colaboração em equipe. Essa experiência me ensinou a importância de criar soluções tecnológicas que impactem positivamente a vida das pessoas.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      No momento, minhas principais tecnologias incluem <strong>C#, .NET, Docker, SQL, Clean Architecture</strong> e princípios como <strong>SOLID</strong> e <strong>TDD</strong>. Embora tenha iniciado minha jornada no <strong>Python</strong>, foi no <strong>C#</strong> que descobri minha verdadeira paixão, e estou determinado a me aprofundar ainda mais nessa linguagem enquanto mantenho a mente aberta para explorar novas tecnologias.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Meu objetivo para os próximos anos é conquistar meu primeiro emprego na área de tecnologia, concluir minha graduação e seguir para uma pós-graduação. Além disso, estou focado em melhorar meu inglês, buscando alcançar fluência para expandir ainda mais minhas oportunidades. Também tenho um grande interesse em <strong>cibersegurança</strong>, uma área que pretendo explorar no futuro.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Acredito que a <strong>cultura de uma empresa</strong> é um dos pilares mais importantes para o sucesso, tanto individual quanto coletivo. Uma cultura saudável é capaz de transformar desafios em oportunidades e ajudar todos os membros a crescerem, independentemente de suas personalidades ou níveis de experiência.
    </p>
    <p class="text-xl font-normal text-text dark:text-dk-text text-center">
      Nos meus momentos de lazer, gosto de jogar e ler, especialmente livros de fantasia, que estimulam minha criatividade e me ajudam a relaxar. Esses hobbies, aliados à minha curiosidade natural, me tornam uma pessoa dedicada, criativa e pronta para contribuir em projetos inovadores e impactantes.
    </p>
  </section>
</BaseLayout>